<a href="https://colab.research.google.com/github/MarcosVel/statistics-for-devs/blob/main/ExploratoryDataAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# EDA com pandas

EDA - processo sistemático para entender e resumir as características fundamentais de um conjunto de dados.

VSCode extensão recomendada:
- Rainbow CSV

### Imports

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from google.colab import drive

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## Coleta e preparação dos dados

### Dataframe com base nos datasets

import dataset from google drive

In [3]:
# dataframe de clientes
df_customers = pd.read_csv('drive/MyDrive/Colab_Notebooks/Rocketseat/datasets/datasets_eda/churn_customers.csv')

In [4]:
df_customers.head()

   customerID  gender  SeniorCitizen Partner Dependents
0  7590-VHVEG  Female              0     Yes         No
1  5575-GNVDE    Male              0      No         No
2  3668-QPYBK    Male              0      No         No
3  7795-CFOCW    Male              0      No         No
4  9237-HQITU  Female              0      No         No

In [5]:
df_customers.tail()

      customerID  gender  SeniorCitizen Partner Dependents
7038  6840-RESVB    Male              0     Yes        Yes
7039  2234-XADUH  Female              0     Yes        Yes
7040  4801-JZAZL  Female              0     Yes        Yes
7041  8361-LTMKD    Male              1     Yes         No
7042  3186-AJIEK    Male              0      No         No

In [6]:
# dataframe schema
df_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customerID     7043 non-null   object
 1   gender         7043 non-null   object
 2   SeniorCitizen  7043 non-null   int64
 3   Partner        7043 non-null   object
 4   Dependents     7043 non-null   object
dtypes: int64(1), object(4)
memory usage: 275.2+ KB

In [7]:
# dataframe de servicos
df_services = pd.read_csv('drive/MyDrive/Colab_Notebooks/Rocketseat/datasets/datasets_eda/churn_services.csv')
df_services.head()

,customerID,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,7590-VHVEG,No,No phone service,DSL,No,Yes,No,No,No,No
1,5575-GNVDE,Yes,No,DSL,Yes,No,Yes,No,No,No
2,3668-QPYBK,Yes,No,DSL,Yes,Yes,No,No,No,No
3,7795-CFOCW,No,No phone service,DSL,Yes,No,Yes,Yes,No,No
4,9237-HQITU,Yes,No,Fiber optic,No,No,No,No,No,No

In [8]:
df_services.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   PhoneService      7043 non-null   object
 2   MultipleLines     7043 non-null   object
 3   InternetService   7043 non-null   object
 4   OnlineSecurity    7043 non-null   object
 5   OnlineBackup      7043 non-null   object
 6   DeviceProtection  7043 non-null   object
 7   TechSupport       7043 non-null   object
 8   StreamingTV       7043 non-null   object
 9   StreamingMovies   7043 non-null   object
dtypes: object(10)
memory usage: 550.4+ KB

In [9]:
# dataframe de contratos
df_contracts = pd.read_csv('drive/MyDrive/Colab_Notebooks/Rocketseat/datasets/datasets_eda/churn_contracts.csv')
df_contracts.head()

,customerID,tenure,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,1,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,34,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,2,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,45,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,2,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [10]:
df_contracts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   tenure            7043 non-null   int64
 2   Contract          7043 non-null   object
 3   PaperlessBilling  7043 non-null   object
 4   PaymentMethod     7043 non-null   object
 5   MonthlyCharges    7043 non-null   float64
 6   TotalCharges      7043 non-null   object
 7   Churn             7043 non-null   object
dtypes: float64(1), int64(1), object(6)
memory usage: 440.3+ KB

### Transformação de dados

In [11]:
# transformando a coluna TotalCharges em float
df_contracts.TotalCharges = pd.to_numeric(df_contracts.TotalCharges, errors='coerce')

In [12]:
df_contracts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   tenure            7043 non-null   int64
 2   Contract          7043 non-null   object
 3   PaperlessBilling  7043 non-null   object
 4   PaymentMethod     7043 non-null   object
 5   MonthlyCharges    7043 non-null   float64
 6   TotalCharges      7032 non-null   float64
 7   Churn             7043 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 440.3+ KB

após a transformação da coluna TotalCharges, a coluna passou a ter 11 valores ausentes

### Renomeando colunas

In [13]:
df_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customerID     7043 non-null   object
 1   gender         7043 non-null   object
 2   SeniorCitizen  7043 non-null   int64
 3   Partner        7043 non-null   object
 4   Dependents     7043 non-null   object
dtypes: int64(1), object(4)
memory usage: 275.2+ KB

In [14]:
# renomeando a coluuna SeniorCitizen
df_customers.rename(columns={'SeniorCitizen':'Above65yo'}, inplace=True)

In [15]:
df_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   customerID  7043 non-null   object
 1   gender      7043 non-null   object
 2   Above65yo   7043 non-null   int64
 3   Partner     7043 non-null   object
 4   Dependents  7043 non-null   object
dtypes: int64(1), object(4)
memory usage: 275.2+ KB

In [16]:
# renomeando lista - modificando todos os nomes das colunas
df_customers.columns = ['IDCliente', 'Genero', 'Mais65anos', 'PossuiParceiro', 'PossuiDependentes']

In [17]:
df_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   IDCliente          7043 non-null   object
 1   Genero             7043 non-null   object
 2   Mais65anos         7043 non-null   int64
 3   PossuiParceiro     7043 non-null   object
 4   PossuiDependentes  7043 non-null   object
dtypes: int64(1), object(4)
memory usage: 275.2+ KB

### Unificando dataframes

In [18]:
len(df_customers)

7043

In [19]:
len(df_services)

7043

In [20]:
len(df_contracts)

7043

In [21]:
# Renomear coluna
df_services.rename(columns={'customerID':'IDCliente'}, inplace=True)
df_services.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   IDCliente         7043 non-null   object
 1   PhoneService      7043 non-null   object
 2   MultipleLines     7043 non-null   object
 3   InternetService   7043 non-null   object
 4   OnlineSecurity    7043 non-null   object
 5   OnlineBackup      7043 non-null   object
 6   DeviceProtection  7043 non-null   object
 7   TechSupport       7043 non-null   object
 8   StreamingTV       7043 non-null   object
 9   StreamingMovies   7043 non-null   object
dtypes: object(10)
memory usage: 550.4+ KB

In [22]:
# Unificar dataframe df_customers e df_services, criando outro dataframe
df_temp = df_customers.merge(df_services, on=['IDCliente'])
df_temp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7043 entries, 0 to 7042
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   IDCliente          7043 non-null   object
 1   Genero             7043 non-null   object
 2   Mais65anos         7043 non-null   int64
 3   PossuiParceiro     7043 non-null   object
 4   PossuiDependentes  7043 non-null   object
 5   PhoneService       7043 non-null   object
 6   MultipleLines      7043 non-null   object
 7   InternetService    7043 non-null   object
 8   OnlineSecurity     7043 non-null   object
 9   OnlineBackup       7043 non-null   object
 10  DeviceProtection   7043 non-null   object
 11  TechSupport        7043 non-null   object
 12  StreamingTV        7043 non-null   object
 13  StreamingMovies    7043 non-null   object
dtypes: int64(1), object(13)
memory usage: 825.4+ KB

In [23]:
# Unificar dataframe df_temp e df_contracts, usando colunas de junção com nomes distintos
df_churn_temp = df_temp.merge(df_contracts, left_on=['IDCliente'], right_on=['customerID'])
df_churn_temp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7043 entries, 0 to 7042
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   IDCliente          7043 non-null   object
 1   Genero             7043 non-null   object
 2   Mais65anos         7043 non-null   int64
 3   PossuiParceiro     7043 non-null   object
 4   PossuiDependentes  7043 non-null   object
 5   PhoneService       7043 non-null   object
 6   MultipleLines      7043 non-null   object
 7   InternetService    7043 non-null   object
 8   OnlineSecurity     7043 non-null   object
 9   OnlineBackup       7043 non-null   object
 10  DeviceProtection   7043 non-null   object
 11  TechSupport        7043 non-null   object
 12  StreamingTV        7043 non-null   object
 13  StreamingMovies    7043 non-null   object
 14  customerID         7043 non-null   object
 15  tenure             7043 non-null   int64
 16  Contract           7043 non-null   object
 17  PaperlessBilling   7043 non-null   object
 18  PaymentMethod      7043 non-null   object
 19  MonthlyCharges     7043 non-null   float64
 20  TotalCharges       7032 non-null   float64
 21  Churn              7043 non-null   object
dtypes: float64(2), int64(2), object(18)
memory usage: 1.2+ MB

In [24]:
# Unificar os três dataframes ao mesmo tempo, com colunas de nome diferentes
df_churn = df_customers.merge(df_services, on=['IDCliente']).merge(df_contracts, left_on=['IDCliente'], right_on=['customerID'])
df_churn.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7043 entries, 0 to 7042
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   IDCliente          7043 non-null   object
 1   Genero             7043 non-null   object
 2   Mais65anos         7043 non-null   int64
 3   PossuiParceiro     7043 non-null   object
 4   PossuiDependentes  7043 non-null   object
 5   PhoneService       7043 non-null   object
 6   MultipleLines      7043 non-null   object
 7   InternetService    7043 non-null   object
 8   OnlineSecurity     7043 non-null   object
 9   OnlineBackup       7043 non-null   object
 10  DeviceProtection   7043 non-null   object
 11  TechSupport        7043 non-null   object
 12  StreamingTV        7043 non-null   object
 13  StreamingMovies    7043 non-null   object
 14  customerID         7043 non-null   object
 15  tenure             7043 non-null   int64
 16  Contract           7043 non-null   object
 17  PaperlessBilling   7043 non-null   object
 18  PaymentMethod      7043 non-null   object
 19  MonthlyCharges     7043 non-null   float64
 20  TotalCharges       7032 non-null   float64
 21  Churn              7043 non-null   object
dtypes: float64(2), int64(2), object(18)
memory usage: 1.2+ MB

In [25]:
# removendo coluna repetida
df_churn.drop('customerID', axis=1, inplace=True)
df_churn.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   IDCliente          7043 non-null   object
 1   Genero             7043 non-null   object
 2   Mais65anos         7043 non-null   int64
 3   PossuiParceiro     7043 non-null   object
 4   PossuiDependentes  7043 non-null   object
 5   PhoneService       7043 non-null   object
 6   MultipleLines      7043 non-null   object
 7   InternetService    7043 non-null   object
 8   OnlineSecurity     7043 non-null   object
 9   OnlineBackup       7043 non-null   object
 10  DeviceProtection   7043 non-null   object
 11  TechSupport        7043 non-null   object
 12  StreamingTV        7043 non-null   object
 13  StreamingMovies    7043 non-null   object
 14  tenure             7043 non-null   int64
 15  Contract           7043 non-null   object
 16  PaperlessBilling   7043 non-null   object
 17  PaymentMethod      7043 non-null   object
 18  MonthlyCharges     7043 non-null   float64
 19  TotalCharges       7032 non-null   float64
 20  Churn              7043 non-null   object
dtypes: float64(2), int64(2), object(17)
memory usage: 1.2+ MB

## Dados ausentes

In [29]:
# detectando valores ausentes
df_churn.isna().sum()

IDCliente             0
Genero                0
Mais65anos            0
PossuiParceiro        0
PossuiDependentes     0
PhoneService          0
MultipleLines         0
InternetService       0
OnlineSecurity        0
OnlineBackup          0
DeviceProtection      0
TechSupport           0
StreamingTV           0
StreamingMovies       0
tenure                0
Contract              0
PaperlessBilling      0
PaymentMethod         0
MonthlyCharges        0
TotalCharges         11
Churn                 0
dtype: int64

In [33]:
# detectando linhas com valores ausentes
df_churn[df_churn.isna().any(axis=1)]

,IDCliente,Genero,Mais65anos,PossuiParceiro,PossuiDependentes,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,...,TechSupport,StreamingTV,StreamingMovies,tenure,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
488,4472-LVYGI,Female,0,Yes,Yes,No,No phone service,DSL,Yes,No,...,Yes,Yes,No,0,Two year,Yes,Bank transfer (automatic),52.55,NaN,No
753,3115-CZMZD,Male,0,No,Yes,Yes,No,No,No internet service,No internet service,...,No internet service,No internet service,No internet service,0,Two year,No,Mailed check,20.25,NaN,No
936,5709-LVOEQ,Female,0,Yes,Yes,Yes,No,DSL,Yes,Yes,...,No,Yes,Yes,0,Two year,No,Mailed check,80.85,NaN,No
1082,4367-NUYAO,Male,0,Yes,Yes,Yes,Yes,No,No internet service,No internet service,...,No internet service,No internet service,No internet service,0,Two year,No,Mailed check,25.75,NaN,No
1340,1371-DWPAZ,Female,0,Yes,Yes,No,No phone service,DSL,Yes,Yes,...,Yes,Yes,No,0,Two year,No,Credit card (automatic),56.05,NaN,No
3331,7644-OMVMY,Male,0,Yes,Yes,Yes,No,No,No internet service,No internet service,...,No internet service,No internet service,No internet service,0,Two year,No,Mailed check,19.85,NaN,No
3826,3213-VVOLG,Male,0,Yes,Yes,Yes,Yes,No,No internet service,No internet service,...,No internet service,No internet service,No internet service,0,Two year,No,Mailed check,25.35,NaN,No
4380,2520-SGTTA,Female,0,Yes,Yes,Yes,No,No,No internet service,No internet service,...,No internet service,No internet service,No internet service,0,Two year,No,Mailed check,20.00,NaN,No
5218,2923-ARZLG,Male,0,Yes,Yes,Yes,No,No,No internet service,No internet service,...,No internet service,No internet service,No internet service,0,One year,Yes,Mailed check,19.70,NaN,No
6670,4075-WKNIU,Female,0,Yes,Yes,Yes,Yes,DSL,No,Yes,...,Yes,Yes,No,0,Two year,No,Mailed check,73.35,NaN,No
6754,2775-SEFEE,Male,0,No,Yes,Yes,Yes,DSL,Yes,Yes,...,Yes,No,No,0,Two year,Yes,Bank transfer (automatic),61.90,NaN,No

In [34]:
# quantas colunas tem valores ausentes?
df_churn.isna().any().sum()

1